<div class=" registerCard col-md-4 mx-auto card my-5  flex ">
   <h1 class="display-5 font-weight-bold text-uppercase text-center ">CREATE ACCOUNT</h1>
    <div class="card-body">
        <form action="/auth/register" method="POST">
        <div class="form-group"><label for="username">username</label>
           <input type="text" name="username" class="form-control" id="usrname">
        </div>
        <div class="form-group"><label for="Email">Email</label>
           <input type="text" name="email" class="form-control" id="email">
        </div>
        <div class="form-group"><label for="password">password</label>
           <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="form-group"><label for="ConfromPassword">ConfromPassword</label>
           <input type="password" name="conformPassword" class="form-control" id="ConfromPassword">
        </div>
         <div class="form-group">
            <button class="btn btn-dark btn-block my-3">CREATE AN ACCOUNT</button>
        </div>
        </hr>
        <p>Already have an Account
        <a href="/auth/login">Login</a>
        </p>
        </form>
       </div>
</div>