<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="navMenu">
        <nav class="navbar navbar-expand-lg ">
             <a class="navbar-brand pl-5"    href="#"><img src="../../images/logo2.png"></img></a>
                                 <input type="text"  class="pr-5 search"  placeholder="search" />
            <div class="navbar navbar-collopase mr-0 ml-auto">
                
                <ul class="navbar-nav pr-5">

                    <li class="nav-item pr-3">
                        <a class="nav-link " href="/">Home</a>
                    </li>
                     <li class="nav-item pr-3">
                        <a class="nav-link " href="/profile/addProfile">Add-Profiole</a>
                    </li>
                     <li class="nav-item pr-3">
                        <a class="nav-link " href="/profile/allProfiles">Profile_Details</a>
                    </li>
                     <li class="nav-item pr-3">
                        <a class="nav-link " href="/auth/register">Register</a>
                    </li>
                     <li class="nav-item pr-3">
                        <a class="nav-link" href="/auth/login">SignIn</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</body>
</html>