{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="homeBlock">
        <img src="../images/home.jpg" alt="">
    </div>
</body>
</html> --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="homeImage">
    <div class="imgeBlck">
        <img src="../images/mainhome3.webp"> 
    </div>
    <div class="homeimg2"> 
        <img src="../images/home2.webp">
    </div>
</section>
<section id="catagiryBlock">
    <h1>CATEGORIES TO BAG</h1>
    <div class="allimages">
    <div class="img1">
        <img src="../images/img1.webp">
    </div>
    <div class="img1">
        <img src="../images/img2.webp">
    </div>
    <div class="img1">
        <img src="../images/img3.webp">
    </div>
    <div class="img1">
        <img src="../images/img4.webp">
    </div>
    <div class="img1">
        <img src="../images/img5.webp">
    </div>
    <div class="img1">
        <img src="../images/img6.webp">
    </div>
    <div class="img1">
        <img src="../images/img7.webp">
    </div>
    <div class="img1">
        <img src="../images/img8.webp">
    </div>
    <div class="img1">
        <img src="../images/img9.webp">
    </div>
    <div class="img1">
        <img src="../images/img10.webp">
    </div>
    <div class="img1">
        <img src="../images/img11.webp">
    </div>
    <div class="img1">
        <img src="../images/img12.webp">
    </div>
</div>
</section>
<section id="discountImgBlock">
    <h1>EXPLORE TOP BRANDS</h1>
    <div class="allDiscounImages">
        <div class="imag1">
            <img src="../images/discount1.webp">
        </div>
        <div class="imag2">
            <img src="../images/discount2.webp">
        </div>
        <div class="imag3">
            <img src="../images/discount3.webp">
        </div>
        <div class="imag4">
            <img src="../images/discount4.webp">
        </div>
        <div class="imag5">
            <img src="../images/discount5.webp">
        </div>
        <div class="imag6">
            <img src="../images/discount6.webp">
        </div>
        <div class="imag7">
            <img src="../images/discount7.webp">
        </div>
        <div class="imag8">
            <img src="../images/discount8.webp">
        </div>
        <div class="imag9">
            <img src="../images/discount9.webp">
        </div>
        <div class="imag10">
            <img src="../images/discount10.webp">
        </div>
    </div>
</section> 
</body>
</html>